/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
/* Base styling */
html, body{
    height: 100%;
    overflow: hidden;
}
body{
    color: #004494;
    font: 16px/1.2 Arial, sans-serif;
    background: #e3e3e3;
}

/* header */
.header{
    background: #f6f6f6;
    height: 50px;
    width: 100%;
    border-bottom: 5px solid #e3e3e3;
}

/* navigation bar*/
.nav{
    width: 50px;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 2;
}

/* content list */
.content{
    overflow: auto;
    margin-left: 5px;
    height: 100%;
}
.list{
    overflow: hidden;
  
}
.list a,
.list a:link
.list a:visited{
    background: white;
    margin-bottom: 2px;
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #004494;
}
.list a.selected{
    font-weight: bold;
}
.list a.disabled{
    color: #c8c8c8;
}

/* scroll buttons */
.btn-up{
    width: 36px;
    height: 63px;
    display: block;
    background: #f6f6f6 url(../img/ico-up.png) no-repeat center;
    border: 2px solid #004494;
    cursor: pointer;
    position: absolute;
    left: 5px;
    bottom: 74px;
}
.btn-down{
    width: 36px;
    height: 63px;
    display: block;
    background: #f6f6f6 url(../img/ico-down.png) no-repeat center;
    border: 2px solid #004494;
    cursor: pointer;
    position: absolute;
    left: 5px;
    bottom: 5px;
}
.btn-up:hover,
.btn-up:focus,
.btn-up:active,
.btn-down:hover,
.btn-down:focus,
.btn-down:active{
    background-color: #99b4d4;
    border-color: #99b4d4;
}
#headertext {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 50px;
  top: 18px;
}
#wbm-button {
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 10px;
  float: right;
  border: 2px solid #004494;
  background-color: white;
  height: 30px;
  padding: 0 10px;
  width: 40px;
  text-align: center;
}
#wbm-button > a {
  color: #004494;
  line-height: 30px;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

* {
user-select: none; 
-webkit-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none;
-webkit-user-drag: none; 
-webkit-app-region: no-drag; 
-moz-user-drag: none; 
-user-drag: none; 
} 
