/build-cache/
/docker/certs/*.crt
/ptxproj/**/bin/gcc_*_*_arm-linux-gnueabihf/
/ptxproj/**/out/gcc_*_*_arm-linux-gnueabihf/
/ptxproj/configs/*/*.old
/ptxproj/local_src/**/*.o
/ptxproj/local_src/**/*.so
/ptxproj/local_src/audioserver/audioserver
/ptxproj/local_src/brightness_control/brightness_control
/ptxproj/local_src/bs_counter/tempd
/ptxproj/local_src/config_audio/config_audio
/ptxproj/local_src/config_backlight/config_backlight
/ptxproj/local_src/config_boot/config_boot
/ptxproj/local_src/config_browsersecurity/config_browsersecurity
/ptxproj/local_src/config_configured/config_configured
/ptxproj/local_src/config_display/config_display
/ptxproj/local_src/config_eruntime/config_eruntime
/ptxproj/local_src/config_fonts/config_fonts
/ptxproj/local_src/config_gesture/config_gesture
/ptxproj/local_src/config_microbrowser/config_microbrowser
/ptxproj/local_src/config_motionsensor/config_motionsensor
/ptxproj/local_src/config_plcselect/config_plcselect
/ptxproj/local_src/config_screensaver/config_screensaver
/ptxproj/local_src/config_testability/config_testability
/ptxproj/local_src/config_touchbeeper/config_touchbeeper
/ptxproj/local_src/config_virtualkeyboard/config_virtualkeyboard
/ptxproj/local_src/gesture_control_cap/gesture_control_cap
/ptxproj/local_src/gesture_control/gesture_control
/ptxproj/local_src/get_audio/get_audio
/ptxproj/local_src/get_backlight/get_backlight
/ptxproj/local_src/get_boot/get_boot
/ptxproj/local_src/get_browsersecurity/get_browsersecurity
/ptxproj/local_src/get_configured/get_configured
/ptxproj/local_src/get_display/get_display
/ptxproj/local_src/get_eruntime/get_eruntime
/ptxproj/local_src/get_fonts/get_fonts
/ptxproj/local_src/get_gesture/get_gesture
/ptxproj/local_src/get_microbrowser/get_microbrowser
/ptxproj/local_src/get_motionsensor/get_motionsensor
/ptxproj/local_src/get_operatinghours/get_operatinghours
/ptxproj/local_src/get_plcselect/get_plcselect
/ptxproj/local_src/get_screensaver/get_screensaver
/ptxproj/local_src/get_testability/get_testability
/ptxproj/local_src/get_touchbeeper/get_touchbeeper
/ptxproj/local_src/get_virtualkeyboard/get_virtualkeyboard
/ptxproj/local_src/getconfvalue/getconfvalue
/ptxproj/local_src/mdmd/mdm_cuse
/ptxproj/local_src/mdmd/mdmd
/ptxproj/local_src/setup_display/setup_display
/ptxproj/local_src/si1142/si1142
/ptxproj/local_src/si1142/si1142_client
/ptxproj/local_src/snmp-config-lib/build/
/ptxproj/local_src/start_browser/start_browser
/ptxproj/local_src/tcp_monitor/tcp_monitor
/ptxproj/platform-*/
/ptxproj/selected_platformconfig
/ptxproj/selected_ptxconfig
/ptxproj/selected_toolchain