* {
  font-family: "Aktiv Grotesk", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 175%;
  color: var(--main-anthracite, #1F2837);
}

div {
  box-sizing: border-box;
}

.textarea {
  font-family: monospace;
  white-space: pre;
  width: 100%;
  height: 100%;
  min-height:100px;
  resize: vertical;
  border: 1px solid gray;
  padding: 12px;
}

.viewport {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 1175px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: var(--background-background, #EFF0F1);
}

.viewport .header {
  display: flex;
  width: 100%;
  height: 72px;
  padding: 12px 15px;
  flex-direction: row;
  align-items: flex-start;
  gap: 33px;
  border-bottom: 1px solid var(--neutral-neutral-15, #DEDFE1);
  background: var(--main-light, #FFF);
}

.viewport .content {
  display: flex;
  width: 100%;
  margin: 24px;
  margin-bottom: 0;
  padding: 30px;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
  background: var(--main-light, #FFF);
}

.viewport .footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  gap: 9px;
  padding: 3px 30px;
  align-self: stretch;
  justify-content: space-between;
  margin-top: auto;
  border-top: 1px solid var(--neutral-neutral-15, #DEDFE1);
  background: var(--main-light, #FFF);
  color: var(--neutral-neutral-70, #616A73);
  font-size: 12px;
}

.info, .info * {
  color: grey;
}

label {
  display: inline-block;
  width: 250px;
}

input:read-only {
  background: lightgrey;
}
