image @IMAGE@ {
	vfat {
		extraargs="-n BOOT -i 7761676F"
		file mlo.pfc100g2 { image = "barebox-am33xx-pfc-750-811x-mlo.img"}
		file mlo.pfc200v3 { image = "barebox-am33xx-pfc-750-821x-mlo.img"}
		file barebox.bin.pfc100g2 { image = "barebox-am33xx-pfc-750-811x.img" }
		file barebox.bin.pfc200v3 { image = "barebox-am33xx-pfc-750-821x.img" }
	}
	name = boot-mlo
	size = 16M
}
