image mlo.pfc100g2 {
	file {
		name = "barebox-am33xx-pfc-750-811x-mlo.img"
	}
}

image mlo.pfc200v3 {
        file {
                name = "barebox-am33xx-pfc-750-821x-mlo.img"
        }
}

image barebox.bin.pfc100g2 {
	file {
		name = "barebox-am33xx-pfc-750-811x.img"
	}
}

image barebox.bin.pfc200v3 {
        file {
                name = "barebox-am33xx-pfc-750-821x.img"
        }
}

image root.tgz {
	file {}
}
