image update.raucb {
	rauc {
		file root.tar.gz { image = "root.tgz" }
		file mlo.pfc100g2 { image = "barebox-am33xx-pfc-750-811x-mlo.img"}
		file mlo.pfc200v3 { image = "barebox-am33xx-pfc-750-821x-mlo.img"}
		file barebox.bin.pfc100g2 { image = "barebox-am33xx-pfc-750-811x.img" }
		file barebox.bin.pfc200v3 { image = "barebox-am33xx-pfc-750-821x.img" }
		file barebox-compatible-versions { image = "../root/etc/barebox-compatible-versions" }

		manifest = "
			[update]
			compatible=@RAUC_BUNDLE_COMPATIBLE@
			version=@RAUC_BUNDLE_VERSION@
			build=@RAUC_BUNDLE_BUILD@
			description=@RAUC_BUNDLE_DESCRIPTION@

			[bundle]
			format=@RAUC_BUNDLE_FORMAT@

			[hooks]
			filename=hooks.sh

			[image.rootfs]
			filename=root.tar.gz
			hooks=pre-install;post-install

			[image.home]
			filename=hooks.sh
			hooks=install

			[image.bootloader]
			filename=barebox-compatible-versions
			hooks=install

			"
		cert = "@RAUC_CERT@"
		key = "@RAUC_KEY@"
	}
}
